.box{
  width: 100vw;
  height: 100vh;
  /* padding-top: 20.5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;    
  align-content:center;
    .item1{
      width: 100%;  
      color: rgb(0, 17, 255); 
      text-align: center;
      font-size: clamp(0.063rem, -1.151rem + 6.07vw, 12.5rem);
    }
    .item2{
      /* width:100%; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      .input {
        flex: .2 .1 1px;
        background-color: #f2ebeb;
        /* width: 10em; */
        height: 5em; 
        /* padding: 10px; */
        text-align: center;
        border: 2px solid white;
        border-radius: 5px;
        box-shadow: 3px 3px 2px rgb(85, 210, 255); 
      }     
    .output{
      flex: .4 .1 2px;
        background-color: #dcd9d9;
        /* width: 20em;*/
        height: 10em; 
        /* padding: 20px; */
        border-color:rgb(183, 18, 18) ;
    }
  } 
}



  .input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }


  .niceButton5 {
    display: inline-block;
    border-radius: 20px;
    background-color: #09b5d7;
    border: none;
    color: #ffff;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 18px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
  }
  .niceButton5 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .niceButton5 span::after {
    content: "  ";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .niceButton5:hover span {
    padding-right: 30px;
  }
  .niceButton5:hover span::after {
    opacity: 1;
    right: 0;
  }

